<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050250330567-tgbs2a97np54fla3oao3lvthbvt03ifl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050250330567-tgbs2a97np54fla3oao3lvthbvt03ifl</string>
	<key>API_KEY</key>
	<string>AIzaSyB82rVGAbrh5DdojsHfwthzNbbQAkKk99I</string>
	<key>GCM_SENDER_ID</key>
	<string>1050250330567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.ValoremApp.ValoremAppFull</string>
	<key>PROJECT_ID</key>
	<string>valorem-2021</string>
	<key>STORAGE_BUCKET</key>
	<string>valorem-2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050250330567:ios:8629c625afbf22e41b19e2</string>
</dict>
</plist>